<!DOCTYPE html>
<html>
<head>
  <title><%= title.page %></title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
  <link href="/css/font-awesome.min.css" rel="stylesheet" media="screen">
  <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
  <% include ../common/menu %>
  <div class="container">
    <div class="row userInfo">
      <h2><%= title.fileList %> of <a href="/user/<%= user.id %>"><%= user.id %></a></h2>
    </div>
    <div class="row fileInfo">
      <div id="fileList" class="fileList<%= (file.hasMore)? ' hasMore' : '' %>">
        <% include fileContent %>
      </div>
      <div class="pager">
        <div id="more"><p><i class="icon-refresh icon-spin"></i> Loading more files</p></div>
        <div id="no-more"><p><span class="icon-remove"></span> No more files</p></div>
        <div id="more-error">
          <p>An error occurred while loading more files<br />Please, try again</p>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <footer>
    <% include ../common/footer %>
  </footer>

  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src="/js/bootstrap.min.js"></script> -->
  <script type="text/javascript">
    $(document).ready(function() {
      // Infinite Scroll Pagination
      var lastId = <%= file.lastId %>;
      var isLoadingContent = false;


      $(window).scroll(function () {
        if($(window).scrollTop() + $(window).height() > $(document).height() - 200) {
          $('#more-error').hide();
          if($('#fileList').hasClass('hasMore')) {
            $('#more').show();
          }
        } // end of if 페이지 끝에 닿기 200px 이내일 때
        if($(window).scrollTop() + $(window).height() == $(document).height()) {
          if($('#fileList').hasClass('hasMore') && !isLoadingContent) {
            $.ajax({
              type: 'GET'
              , datatype: 'json'
              , url: '<%= page.path %>.html?lastId=' + lastId
              , beforeSend: function(jqXHR, settings) {
                isLoadingContent = true;
              }
              , timeout: 30000
            }).done(function(data, status, jqXHR) {
              $('#fileList').append(data.html);
              lastId = data.lastId;
              if(data.hasMore) $('#fileList').addClass('hasMore');
              else $('#fileList').removeClass('hasMore');
            }).fail(function(jqXHR, status, err) {
              $('#more-error').show();
            }).always(function() {
              $('#more').hide();
              isLoadingContent = false;
            });
          } else {
            $('#no-more').show();
          }
        } // end of if 페이지 끝에 닿았을 때
      }); // end of window.scroll event
    }); // end of document.ready event
  </script>
</body>
</html>
