<!DOCTYPE html>
<html>
  <head>
    <title><%= title.page %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      #more {display:none;}
      #no-more {display:none;}
      #more-error {display:none;}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row userInfo">
        <h2><%= title.fileList %> of <a href="/user/<%= user.id %>"><%= user.id %></a></h2>
      </div>
      <div class="row fileInfo">
        <div id="fileList" class="fileList<%= (file.hasMore)? ' hasMore' : '' %>">
          <% include fileContent %>
        </div>
        <div class="pager">
          <li class="previous">
            <a href="<%= page.path %>">first</a>
          </li>
          <% if(file.hasMore) { %>
            <li class="previous">
              <a href="<%= page.path %>?lastId=<%= file.lastId %>">more</a>
            </li>
          <% } %>
        </div>
        <div id="more">Loading more content</div>
        <div id="no-more">No more content</div>
        <div id="more-error">An error occurred while loading more content</div>
      </div>
    </div>

    <hr />
    <footer>
      <% include footer %>
    </footer>

    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="/js/bootstrap.min.js"></script> -->
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript">
      $(window).scroll(function () {
        if($(window).scrollTop() + $(window).height() > $(document).height() - 200) {
          $('#more-error').hide();
          if($('#fileList').hasClass('hasMore')) {
            $('#more').css('top', '400');
            $('#more').show();
          }
        } // end of if 페이지 끝에 닿기 200px 이내일 때
        if($(window).scrollTop() + $(window).height() == $(document).height()) {
          if($('#fileList').hasClass('hasMore')) {
            $.ajax({
              type: 'GET'
              , datatype: 'json'
              // TODO 리스트 로딩 완료 시 lastId를 바꿔줄 수 있어야 한다. - 어쩌면 lastId나 file id 방식을 바꿔야할 수 있음
              , url: '<%= page.path %>.html?lastId=<%= file.lastId %>'
              , success: function(files) {
                $('#fileList').append(files);
                $('#more').hide();
              }
              , error: function(jqXHR, status, err) {
                $('#more-error').show();
                $('#more').hide();
              }
            });
          } else {
            $('#no-more').css('top', '400');
            $('#no-more').show();
          }
        } // end of if 페이지 끝에 닿았을 때
      }); // end of window.scroll event
    </script>
  </body>
</html>
