<!DOCTYPE html>
<html>
  <head>
    <title><%= title.page %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="row userInfo">
        <h2><%= title.fileList %> of <a href="/user/<%= user.id %>"><%= user.id %></a></h2>
      </div>
      <div class="row fileInfo">
        <div class="fileList">
          <% if(file.list && 0 < file.list.length) { %>
            <% file.list.forEach(function(f, i) { %>
              <div class="fileListBody">
                <h3><a href="/file/<%= f.id %>"><%= f.name %></a></h3>
                <%= f.uploaded %>
              </div>
            <% }) %>
          <% } %>
        </div>
        <div class="pager">
          <li class="previous">
            <a href="<%= page.path %>">first</a>
          </li>
          <% if(file.hasMore) { %>
            <li class="previous">
              <a href="<%= page.path %>?lastId=<%= file.lastId %>">more</a>
            </li>
          <% } %>
        </div>
      </div>
    </div>

    <hr />
    <footer>
      <% include footer %>
    </footer>

    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="/js/bootstrap.min.js"></script> -->
  </body>
</html>
