<!DOCTYPE html>
<html>
  <head>
    <title><%= title.page %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="userInfo">
      <p><%= user.id %></p>
    </div>
    <div class="fileInfo">
      <div class="fileList">
        <h2><%= title.fileList %></h2>
        <% if(file[file.type] && 0 < file[file.type].length) { %>
          <% file[file.type].forEach(function(f, i) { %>
            <% if(file.listCount != i) { %>
              <div class="fileListBody">
                <h3><a href="/file/<%= f.id %>"><%= f.name %></a></h3>
                <%= f.uploaded %>
              </div>
            <% } %>
          <% }) %>
          <% if(file.listCount < file[file.type].length) { %>
            <div><a href="">more</a></div>
          <% } %>
        <% } %>
      </div>
    </div>
  </body>
</html>
